.container-geral {
  margin: 0%;
  background-color: rgb(0, 0, 0);
}


.club{
margin-left: 40px;
margin: 50px; ;
width: 60px;
height: 29px;
flex-shrink: 0;
}
.right-section {
  width: 800px;
  height: 50px;
  flex-shrink: 0;
  margin-left: 500px;
}
.cadastro{
    color: #F0EFEF;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.4px;
 }

.title-login {
  color: #F0EFEF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.4px;
  line-height: 16px;  
}

.title-personal-info{
 color: #F0EFEF;
 font-family: Roboto;
 font-size: 10px;
 font-style: normal;
 font-weight: 700;
 line-height: 16px;
 letter-spacing: -0.4px;
 }

.label-nome-completo {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.266px;
    width: 99.829px;
    
}
.rectangle-97{
  width: 700px;
  height: 30px;
  flex-shrink: 0;
  background: #131117;
  border-radius: 25px;
  border: 1px solid #7C38C0;
}

.rectangle-95{
    width: 150px;
    height: 30px;
    flex-shrink: 0;
    background: #131117;
    border-radius: 25px;
    border: 1px solid #7C38C0;
}

.container95 {
  display: flex;
  gap: 50px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 30px;
  flex-flow: wrap;  
}

.salvar {
color: #F2EFEF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
letter-spacing: -0.16px;
line-height: 24px;
letter-spacing: -0.16px;
}

.rectangle-99 {
margin-left: 200px;
width: 360px;
height: 56px;
flex-shrink: 0;
border-radius: 8px;
background: #6100C2;
}