.footer {
  background-color: var(--black-color);
  padding: 1rem 0;
}

.content-footer .title,
.content-footer .subtitle {
  margin: 0.5rem 0;
  color: var(--white-color);
  font-weight: 400;
}

.content-footer .title {
  font-size: 1.25rem;
  position: relative; /* Adicione esta linha */
}

.content-footer .subtitle {
  font-size: 0.75rem;
}

.content-footer .trademark-symbol {
  font-size: 0.9375rem;
  position: relative;
  top: 0.25rem;
  vertical-align: text-top;
  margin-left: 0.125rem;
}
