.header {
  background-color: var(--darker-color1);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 1000;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  width: 12.5%;
}

.logo-container img {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
}

.navbar-menu-container {
  display: flex;
  justify-content: space-between;
  width: 30%;
  gap: 1.75rem;
}

.navbar-item {
  flex-grow: 1;
  color: var(--light-color3);
  text-decoration: none;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
}

.navbar-item:hover {
  background-color: transparent;
  color: var(--primary-color-variant1);
}

.buttons-container {
  display: flex;
  gap: 0.5rem;
}

.buttons-container .button-login,
.buttons-container .button-cadastrar {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.buttons-container .button-login {
  margin-right: 1.25rem;
}

.button-login {
  width: 7.029rem;
  height: 1.812rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color-dark);
  color: var(--light-color1);
  font-size: 0.75rem;
  font-weight: 700;
  transition: all 0.3s ease;
}

.button-login:hover {
  transform: scale(1.05);
  background-color: var(--primary-color);
  color: var(--white-color);
}

.header .buttons-container .button-cadastrar {
  width: 7.029rem;
  height: 1.812rem;
  border-radius: 0.5rem;
  border: 0.06rem solid var(--primary-color-dark);
  color: var(--light-color1);
  font-size: 0.75rem;
  font-weight: 700;
  transition: all 0.3s ease;
}

.header .buttons-container .button-cadastrar:hover {
  transform: scale(1.05);
  border-width: 0.12rem;
  border-color: var(--primary-color);
  color: var(--light-color1);
}
